@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'Inter', sans-serif;

  --primary-color: #F3F1FF;
  --secondary-color: #DADADA;
  --primary-darkcolor: #6C6C6C;
  --secondary-darkcolor: #4B4B4B;
  --third-color: #8266FF;

  background-color: var(--primary-darkcolor);

  color: #fff;
}

body, html {
  margin: 0;
  padding: 0;

  overflow: hidden;
}